https://localhost {

    tls /cert.pem /key.pem

    # WebSocket / Streaming API
    reverse_proxy /api/v1/streaming* streaming:4000 {
         transport http
    }

    # Rails web application
    reverse_proxy web:3000 {
         transport http
    }

    # Optional HTTP → HTTPS redirect
    @http {
        protocol http
    }
    redir @http https://{host}{uri} permanent
}